@reference "../../assets/main.css";

.categoryHeader {
  @apply px-sm py-xs flex justify-between items-center cursor-pointer w-full;
  @apply hover:bg-neutral-surface-hover;
}

.categoryContent {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.categoryContent.collapsed { max-height: 0; }

.chevron {
  @apply text-xl leading-xs text-neutral-interaction-default;
  transition: transform 0.3s ease;
}
.chevron.expanded { transform: rotate(180deg); }

.subOption { @apply flex items-center gap-xs px-sm py-xxs cursor-pointer; }
.subOptionLabel { @apply text-sm font-normal; }

.actions { @apply flex justify-end gap-xs px-sm py-xs; }

.searchBox { @apply flex items-center gap-xs px-sm py-xs border-b-xxs border-neutral-default; }

.searchInput {
  @apply flex-1 text-sm bg-transparent outline-none bg-neutral-surface-default;
  @apply text-neutral-foreground-high placeholder:text-neutral-foreground-low;
}

.searchClear { @apply flex items-center text-neutral-foreground-low cursor-pointer hover:text-neutral-foreground-high; }