@reference "../../assets/main.css";

.roundMenu {
  @apply relative inline-flex items-center justify-center;
}

.trigger {
  @apply rounded-full cursor-pointer border-none p-sm z-10 relative;
  @apply bg-neutral-surface-default border-xxs border-neutral-default shadow-neutral-default;
}

.trigger.expanded {
  @apply bg-primary-interaction-default text-neutral-foreground-negative;
}

.menuItem {
  @apply absolute rounded-full cursor-pointer border-none p-sm;
  @apply bg-neutral-surface-default shadow-neutral-default;
  @apply border-xxs border-neutral-default;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menuItem.collapsed {
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0;
}
