@reference "../../assets/main.css";

.roundMenu {
  @apply relative inline-flex items-center justify-center;
}

.menuItem {
  @apply absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menuItem.collapsed {
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0;
}
