@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import "tailwindcss";

@config "../../tailwind.config.cjs";
@source inline("brius-theme p1 p2 p3 p4 caption-c1 caption-c2");

@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@layer base {
  :root {
    /**
    * @tokens FontFamily
    * @presenter FontFamily
    */
    /* Font Family */
    --font-sans: "Poppins", sans-serif;
    /**
    * @tokens-end
    */

    /**
    * @tokens FontSize
    * @presenter FontSize
    /* Font Size */
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-2xl: 24px;
    --font-size-3xl: 30px;
    --font-size-4xl: 32px;
    --font-size-5xl: 48px;
    --font-size-6xl: 60px;
    --font-size-7xl: 72px;
    --font-size-8xl: 96px;
    --font-size-9xl: 128px;
    /**
    * @tokens-end
    */

    /**
    * @tokens FontWeight
    * @presenter FontWeight
    */
    /* Font Weight */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
    /**
    * @tokens-end
    */

    /**
    * @tokens LineHeight
    * @presenter LineHeight
    */
    /* Line Height */
    --line-height-none: 0px;
    --line-height-xxs: 100%;
    --line-height-xs: 105%;
    --line-height-sm: 110%;
    --line-height-base: 115%;
    --line-height-lg: 120%;
    --line-height-xl: 125%;
    /**
    * @tokens-end
    */

    /**
    * @tokens Spacing
    * @presenter Spacing
    */
    /* Spacing */
    --spacing-none: 0px;
    --spacing-2xxs: 2px;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-base: 16px;
    --spacing-lg: 20px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;
    --spacing-3xl: 48px;
    --spacing-4xl: 56px;
    --spacing-5xl: 64px;
    --spacing-6xl: 80px;
    --spacing-7xl: 96px;
    --spacing-8xl: 112px;
    --spacing-9xl: 128px;
    --spacing-10xl: 144px;
    --spacing-11xl: 160px;
    --spacing-12xl: 176px;
    --spacing-13xl: 192px;
    --spacing-14xl: 208px;
    --spacing-15xl: 224px;
    --spacing-16xl: 240px;
    --spacing-17xl: 256px;
    --spacing-18xl: 288px;
    --spacing-19xl: 320px;
    --spacing-20xl: 336px;
    /**
    * @tokens-end
    */

    /**
    * @tokens Border
    * @presenter Border
    */
    /* Border Width */
    --border-width-none: 0px;
    --border-width-xxs: 1px;
    --border-width-xs: 2px;
    --border-width-sm: 4px;
    --border-width-base: 8px;
    /**
    * @tokens-end
    */

    /**
    * @tokens BorderRadius
    * @presenter BorderRadius
    */
    /* Border Radius */
    --border-radius-none: 0px;
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-sm: 6px;
    --border-radius-base: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 24px;
    --border-radius-full: 9999px;
    /**
    * @tokens-end
    */

    /**
    * @tokens color
    * @presenter Color
    */
    /* color */
    /* Neutral */

    /* Background */
    --neutral-background-default: #fbfcfd;
    --neutral-background-emphasis: #ffffff;
    --neutral-background-negative: #1b1f22;

    /* Surface */
    --neutral-surface-default: #ffffff;
    --neutral-surface-highlight: #f4f6f7;
    --neutral-surface-hover: #f4f6f7;
    --neutral-surface-disabled: #e3e7ea;

    /* Interaction */
    --neutral-interaction-default: #465058;
    --neutral-interaction-hover: #3e464c;
    --neutral-interaction-pressed: #1b1f22;
    --neutral-interaction-disabled: #7a8d96;

    /* Foreground */
    --neutral-foreground-disabled: #7a8d96;
    --neutral-foreground-low: #5f717b;
    --neutral-foreground-high: #1b1f22;
    --neutral-foreground-negative: #ffffff;

    /* Border */
    --neutral-border-default: #e3e7ea;
    --neutral-border-hover: #a6b4ba;
    --neutral-border-pressed: #7a8d96;
    --neutral-border-disabled: #cad2d7;
    --neutral-border-selected: #cad2d7;

    /* Primary */

    /* Surface */
    --primary-surface-default: #effaf4;
    --primary-surface-highlight: #b6e4cd;
    --primary-surface-hover: #d9f2e4;
    --primary-surface-pressed: #86cfae;

    /* Interaction */
    --primary-interaction-default: #329771;
    --primary-interaction-hover: #22795a;
    --primary-interaction-pressed: #1b614a;
    --primary-interaction-selected: #1b614a;

    /* Foreground */
    --primary-foreground-disabled: #86cfae;
    --primary-foreground-low: #1b614a;
    --primary-foreground-high: #184d3b;

    /* Border */
    --primary-border-default: #329771;
    --primary-border-hover: #1b614a;
    --primary-border-selected: #184d3b;
    --primary-border-pressed: #144032;

    /* Informative */

    /* Surface */
    --informative-surface-default: #eefcfd;
    --informative-surface-highlight: #afecf2;
    --informative-surface-hover: #77dee9;
    --informative-surface-pressed: #39c5d7;

    /* Interaction */
    --informative-interaction-default: #1b879f;
    --informative-interaction-hover: #1b687b;
    --informative-interaction-pressed: #20596a;
    --informative-interaction-selected: #1f4b5a;

    /* Foreground */
    --informative-foreground-disabled: #77dee9;
    --informative-foreground-low: #1b687b;
    --informative-foreground-high: #1f4b5a;

    /* Border */
    --informative-border-default: #1b687b;
    --informative-border-hover: #20596a;
    --informative-border-selected: #1f4b5a;
    --informative-border-pressed: #20596a;

    /* Success */

    /* Surface */
    --success-surface-default: #effef5;
    --success-surface-highlight: #bff1d8;
    --success-surface-hover: #bff1d8;
    --success-surface-pressed: #8ce2b9;

    /* Interaction */
    --success-interaction-default: #0a9e50;
    --success-interaction-hover: #078541;
    --success-interaction-pressed: #105732;
    --success-interaction-selected: #03301a;

    /* Foreground */
    --success-foreground-disabled: #4fcc92;
    --success-foreground-low: #078541;
    --success-foreground-high: #056a33;

    /* Border */
    --success-border-default: #0fb75c;
    --success-border-hover: #078541;
    --success-border-selected: #056a33;
    --success-border-pressed: #105732;

    /* Warning */

    /* Surface */
    --warning-surface-default: #ffffea;
    --warning-surface-highlight: #fff5cc;
    --warning-surface-hover: #ffe999;
    --warning-surface-pressed: #ffdd66;

    /* Interaction */
    --warning-interaction-default: #dba700;
    --warning-interaction-hover: #b78a00;
    --warning-interaction-pressed: #936d00;
    --warning-interaction-selected: #936d00;

    /* Foreground */
    --warning-foreground-disabled: #ffd133;
    --warning-foreground-low: #936d00;
    --warning-foreground-high: #7c440b;

    /* Border */
    --warning-border-default: #ffc500;
    --warning-border-hover: #b78a00;
    --warning-border-selected: #936d00;
    --warning-border-pressed: #7c440b;

    /* Danger */

    /* Surface */
    --danger-surface-default: #fef2f2;
    --danger-surface-highlight: #fab8b8;
    --danger-surface-hover: #fde8e8;
    --danger-surface-pressed: #f58a8a;

    /* Interaction */
    --danger-interaction-default: #f03232;
    --danger-interaction-hover: #b22424;
    --danger-interaction-pressed: #801c1c;
    --danger-interaction-selected: #d12b2b;

    /* Foreground */
    --danger-foreground-disabled: #f25c5c;
    --danger-foreground-low: #b22424;
    --danger-foreground-high: #801c1c;

    /* Border */
    --danger-border-default: #f03232;
    --danger-border-hover: #b22424;
    --danger-border-selected: #931d1d;
    --danger-border-pressed: #801c1c;
    /**
    * @tokens-end
    */
  }

  .brius-theme {
    /**
    * @tokens BFontFamily
    * @presenter FontFamily
    */
    /* Font Family */
    --font-sans: "Inter", sans-serif;
    /**
    * @tokens-end
    */

    /**
    * @tokens Bcolor
    * @presenter Color
    */
    /* color */
    /* Primary */

    /* Surface */
    --primary-surface-default: #e7f0ff;
    --primary-surface-highlight: #b8d0ff;
    --primary-surface-hover: #d0e0ff;
    --primary-surface-pressed: #90b1ff;

    /* Interaction */
    --primary-interaction-default: #004ed7;
    --primary-interaction-hover: #003298;
    --primary-interaction-pressed: #001040;
    --primary-interaction-selected: #002070;

    /* Foreground */
    --primary-foreground-disabled: #90b1ff;
    --primary-foreground-low: #0041b8;
    --primary-foreground-high: #003298;

    /* Border */
    --primary-border-default: #115be2;
    --primary-border-hover: #0041b8;
    --primary-border-selected: #003298;
    --primary-border-pressed: #001040;

    /* Informative */

    /* Surface */
    --informative-surface-default: #f2eeff;
    --informative-surface-highlight: #c7bbff;
    --informative-surface-hover: #9072ff;
    --informative-surface-pressed: #6149cc;

    /* Interaction */
    --informative-interaction-default: #523bbb;
    --informative-interaction-hover: #362780;
    --informative-interaction-pressed: #1f144c;
    --informative-interaction-selected: #45329e;

    /* Foreground */
    --informative-foreground-disabled: #9072ff;
    --informative-foreground-low: #362780;
    --informative-foreground-high: #2b1d63;

    /* Border */
    --informative-border-default: #45329e;
    --informative-border-hover: #362780;
    --informative-border-selected: #2b1d63;
    --informative-border-pressed: #1f144c;
    /**
    * @tokens-end
    */
  }

  html {
    color: var(--neutral-foreground-high);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-sans);
  }

  body {
    background-color: var(--neutral-background-default);
    font-family: var(--font-sans);
  }

  * {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    border-radius: var(--border-radius-full);
    width: var(--spacing-xs);
    height: var(--spacing-xs);
    background-color: var(--neutral-surface-disabled);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-full);
    background-color: var(--neutral-interaction-disabled);
  }

  h1 {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xl);
  }

  h2 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
  }

  h3 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-sm);
  }

  h4 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-xs);
  }

  h5 {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-xs);
  }

  h6 {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-xs);
  }

  a {
    color: var(--primary-interaction-default);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-interaction-default);
  }

  :root {
    [type="text"]:focus,
    input:where(:not([type])):focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="datetime-local"]:focus,
    [type="month"]:focus,
    [type="search"]:focus,
    [type="tel"]:focus,
    [type="time"]:focus,
    [type="week"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
      outline: 0px solid transparent;
      outline-offset: 0px;
      --tw-ring-inset: 0;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-shadow: 0;
      --tw-ring-shadow: 0;
      box-shadow: none;
      border-width: 0;
    }
  }
}